body, html{
    height: 100%;
    background-color: #d6c5c5;
    position: relative;
    box-sizing: border-box;
}
.img{
    background-color: ;
    position: absolute;
    top: 10px;
    left: 450px;
    right: 0px;
    
}
.first{
    font-family:  'Poppins', sans-serif; 
    font-size:x-large;
    width: auto;
    font-weight: 700;
}
.party{
    font-family:  'Merienda One', cursive;
    font-size: medium;
}
.party-2{
    font-family:  'Merienda One', cursive;
    font-size: medium;
}
.party-3{
    font-family:  'Merienda One', cursive;
    font-size: medium;
}
 @media screen and (max-width: 900px) and (min-width: 600px){

} 
